*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Helvetica", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	background-color: #fff;
	margin: 0;
	position: relative;
  	min-height: 100%;
}

header{
	width: 100%;
	height: 100px;
	background-color: rgba(27, 27, 50, 0.8);
	margin: 5px 0;
	margin-top:0;
}

header a{
	color: #000;
}

header a:hover{
	color: #000;
}

header .right{
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  display: block;
  float: right;
  border-radius: 8px;
  margin: 20px 10px;
}

h1{
	font-weight: 400;
	line-height: 1.2;
	padding: 1.5rem;
}

p{
	font-size: 1.125rem;
}

h1,h2,p{
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h2{
	font-weight: 400;
	line-height: 1.2;
	padding: 1.5rem;
}

h3{
	font-weight: 700;
	line-height: 1.5;
	padding: 0.25rem;
}

h5{
	font-weight: 400;
	line-height: 2;
}

a{
	color: #06f;
	text-decoration: none;
}

a:hover{
	color: #00f;
}

button{
	display: block;
	align-items: center;
	width: 400px;
	height: 2.5rem;
	padding: 0.25rem;
	font-size: 1rem;
	margin: 0 auto 1.25rem auto;
	border: solid;
	border-radius: 0.25rem;
	cursor: pointer;
	background: #37af65;
}

ul{
	list-style: decimal;
	padding: 0.5rem 0 0.5rem 2rem;
}

footer{
	position: relative;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: rgba(27, 27, 50, 0.8);
	display: flex;
}

footer h2{
	flex-grow: 1;
}

footer p{
	padding: 1.5rem;
}

.headline img{
	display: block;
	width: 70%;
	height: 512px;
	margin: 2rem auto;
}

.container{
	margin: 10px auto 0 auto;
	width: 80%;
	padding-bottom: 80px;
}

.container img{
	display: block;
	margin: 2rem auto 2.25rem auto;
}

.container p{
	padding: 0.5rem 0 1rem 0.5rem;
}

.main-content{
	height: 70vh;
	width: 80%;
	background-color: #ddd;
	color: #fff;
	display: block;
	margin: 25px auto;
}

@media (max-width: 480px){
	header,footer{
		height: 50px;
	}

	form{
		width: 300px;
	}

	h1{
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		padding: 1rem;
	}

	h2{
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		padding: 1rem;
	}

	footer p{
		font-size: 14px;
		padding: 1rem;
	}
}